<div class="nav">
    <a href="/"><input type="button" value="Home" class="homeButton"></a>
    <a href="/about"><input type="button" value="About" class="aboutButton"></a>
</div>
<div class="container">
    <div class="wrapper">
        <div class="company-info">
            <h1 class="foundTitle"><span>Inspiration</span> Behind Trace & Find</h1>
        </div>
        <div class="contact">
            <p>
                Ever have an exciting night out with friends or traveling and lose a precious item? Could be something like your bag or wallet/purse, maybe even your computer. 
                We all hope there is that good samaritan out there to help return our items back to us. Well that's just what Trace & Find helps that good samaritan to do! Here you can
                report items you found by simply filling in the information in the fields listed. From there you as the lost person can simply check out and search to see if your item has been posted. 
                A simple click away and you are reunited back with your item in no time! 
            </p>
            <h1 class="aboutHeader">Trace & Find Creator</h1>
            <div class="imgContainer">
                <div class="img">
                    <div class="imgOverlay">
                        <a href="http://www.linkedin.com/in/rickbrooks01"><input type="button" value="LinkedIn"></a>
                        <a href="https://github.com/rbrook22"><input type="button" value="Github"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>