<div class="nav">
    <a href="/"><input type="button" value="Home" class="homeButton"></a>
    <a href="#"><input type="button" value="About" class="aboutButton"></a>
</div>
<h1>Are you sure you want to delete {{title}} - {{itemdescription}}?</h1>
<form action="/{{itemid}}/deletepage" method="POST">
    <input type="submit" name="yes" value="YES">
    <a href="/lostItem"><input type="button" name="no" value="NO"></a>
</form>