<section class='main'>
    <div class="vidContainer">
        <video src="/vids/vidBack.mp4" autoplay loop muted></video>
        <div class='homeButtons'>
            <h1 class="mainTitle">Trace & Find</h1>
            <a href="/foundItem"><input type="button" value="Found" class="foundButton homePageButton"></a>
            <a href="/lostItem"><input type="button" value="Lost" class="lostButton homePageButton"></a>
        </div>
    </div>
</section>