html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/* Homepage Styling */
.mainTitle {
    font-size: 50px;
    margin-bottom: 50px;
}
.main, .vidContainer{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}  
.vidContainer video {
    min-width: 100%;
    min-height: 100%;
} 
video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.homePageButton {
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: 3px solid white;
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.foundButton:hover {
    border-color: rgb(69, 244, 66);
    background-color: rgba(69, 244, 66, .4);
}
.lostButton:hover {
    border-color: rgb(244, 78, 66);
    background-color: rgba(244, 78, 66, .4);
}

/* Lostitem Styling */
.lostHeader {
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.homeButton {
    height: 25px;
    width: 100px;
    border-radius: 5px;
    margin: 10px;
}
.aboutButton {
    height: 25px;
    width: 100px;
    border-radius: 5px;
    margin: 10px;
}
.listParent {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
}
.lostForm {
    border: 2px black solid;
    padding: 5px;
    margin: 30px;
    height: 300px;
}
.lostLocation {
    width: 350px;
}
.listLostItems {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    width: 342px;
}
.lostDescription {
    width: 300px;
}

/* Founditem Styling */
.editForm {
    margin: 20px;
}
.foundTitle {
    text-align: center;
}
/* Editpage Styling */
.editDescription {
    width: 300px;
}
.editLocation {
    width: 340px;
}
/* Deletepage styling */
